/* Font Use
  font-family: 'Inter', sans-serif;
  font-family: 'Merriweather', serif;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 82%;
  max-width: 1320px;
  margin: 0 auto;
}
.sectionGap {
  margin-bottom: 120px;
}
.banner {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("images/BannerImage.png");
  height: 600px;
  width: 100%;
  border-radius: 16px;
  background-repeat: no-repeat;
}
.headContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headContent h2 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}
.headContent h1 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  max-width: 632px;
}

.discount h2 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}
.discount h4 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.discount h3 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}
.discount .NewYearImg {
  text-align: center;
}
.welcomeParty {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(images/Vectorrr.png);
  height: 600px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 120px;
}
.welcomeContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.welcomeContent h2 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 24px;
}
.welcomeContent p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 48px;
}
.welcomeContent button {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  background-color: transparent;
  border: 0;
  padding: 20px;
  border-radius: 15px;
}
.welcomeContent button:hover {
  cursor: pointer;
  background-color: #f00;
  transition: 1s;
  color: #000;
}
.textRed {
  color: #f00;
}

.event {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  height: 480px;
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.eventBtn {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  background-color: #f00;
  border: 0;
  padding: 20px;
  border-radius: 15px;
  margin-top: 48px;
}
.eventBtn:hover {
  cursor: pointer;
  background-color: #f00;
  transition: 1s;
  color: #000;
}
.offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.offer1 h3 {
  color: #f00;
  text-align: start;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.offer1 h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 22px;
  max-width: 350px;
}
.offer1 p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  max-width: 400px;
}
.offer2 {
  border: 15px solid #f00;
  border-radius: 50%;
  padding: 50px;
}
.offer3 h2 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}
.offer3 p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  max-width: 300px;
  margin-bottom: 45px;
}
.holidayContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.holidayContent h4 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.holidayContent h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 28px;
}
.holidayContent p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  padding: 0 240px;
  margin-bottom: 64px;
}
.firstRow {
  margin-bottom: 0;
  display: flex;
  /* justify-content: space-around; */
  justify-content: end;
  position: relative;
}
.secondRow {
  margin-top: -235px;
  background: #f00;
  width: 100%;
  height: 300px;
}
.firstRow .two img {
  height: 200px;
  width: 200px;
  position: absolute;
  left: 60%;
}
.gift {
  display: flex;
  flex-direction: column;
}
.gift h4 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.gift h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 22px;
}
.gift p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  max-width: 900px;
  margin-bottom: 48px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.products img {
  /* width: 350px;
    height: 400px; */
  width: 33%;
  margin-bottom: 10px;
}
.newsLetter {
  height: 600px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.newsLetter img {
  margin-bottom: 40px;
}
.newsLetter h2 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 22px;
}
.newsLetter p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  max-width: 900px;
  margin-bottom: 48px;
}
.contact {
  display: flex;
  justify-content: center;
}
.contact input {
  background-color: #fff;
  border: 0;
  border-radius: 50px 0 0 50px;
  padding: 20px;
  width: 438px;
}
.contact button {
  background-color: #f00;
  border: 0;
  border-radius: 0 50px 50px 0;
  padding: 20px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
}
.contact button:hover {
    cursor: pointer;
    background-color: rgb(245, 242, 18);
    color: #000;
    transition: 1s;
}
.footer {
  height: 600px;
  max-width: 1600px;
  background: #070211;
  padding: 120px;
}
.row1 {
  display: flex;
  justify-content: space-between;
}
.row1 .left p {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.row1 .right p {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.right {
  align-items: center;
  justify-content: center;
}
hr {
  border: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
  margin: 50px 0;
}
.social {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.row3{
    display: flex;
    justify-content: space-between;
}
.row3 .left{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.row3 button{
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    border: 0;
    padding: 20px;
    border-radius: 15px;
}
.row3 button:hover{
    cursor: pointer;
    background-color: #f00;
    transition: 1s;
}